<!DOCTYPE html>
<html>
  <head>
    <title>BasicBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  
  <body >
  <%=render 'layouts/navbar' %>
<br>
 
 <%if logged_in?%>
  <%= link_to 'Log Out', logout_path, method: "delete" %>
  <%= link_to 'Home', root_path %>
  <%else%>
  <%= link_to 'Home', root_path %>
  <%end%>
  
    <%= yield %>
  </body>
</html>
